<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}" />

<link href="../static/styles/styles.css" th:href="@{styles/styles.css}" rel="stylesheet" type="text/css" media="screen"/>
	
<link href="../static/styles/menu.css" th:href="@{styles/menu.css}" rel="stylesheet" type="text/css" />

<link href="../static/styles/general.css" th:href="@{styles/general.css}" rel="stylesheet" type="text/css" />

<link href="../static/styles/bootstrap-datepicker/bootstrap-datetimepicker.min.css" th:href="@{styles/bootstrap-datepicker/bootstrap-datetimepicker.min.css}" rel="stylesheet" type="text/css" />

<link href="../static/styles/bootstrap-dialog/bootstrap-dialog.min.css" th:href="@{styles/bootstrap-dialog/bootstrap-dialog.min.css}" rel="stylesheet" type="text/css" />




