.datepicker{
		
}

.ownpop{
   
    
}

.frontpage_square{
	position:relative;
	height: 140px;
}

.frontpage_square img{
	position:absolute;
}

.radio_programador{
	height: 16px;
    width: 16px;
}
    